

.supplierCustomerBtn{
    background-color: rgb(76, 136, 236);
    color: white;
    padding: 0.6vw;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.supplierCustomer{
    font-size: 1.4rem;
}

.supplierCustomerBtn:hover, .supplierBtn:focus{
    background-color: #3178ee;
}

.searchInput{
    box-sizing: border-box;
    background-image: url("https://img.icons8.com/ios/20/000000/search-filled.png");
    background-position:20px 18px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.searchInput:focus{
    outline: 3px solid #ddd;
}

.dropdownSupplier{
    position: relative;
    display: inline-block;
}

.supplier-content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.supplier-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.customer-content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    right: 0;
}

.customer-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownSupplier a:hover{
    background-color: #ddd;
}

.show{
    display: block;
}

.addNew{
    width: 100%;
    border-radius: 4px;
    background-color: rgb(76, 136, 236);
    margin-bottom: 7px;
    color: white;
}

.customer{   
    float: right;
    position: relative;
}

.invoiceId  input{
   display: block;
   position: relative;     
}

.invoiceId  {
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.saveBtn{
    float: right;
    position: relative;
    right: 1.8vw;
    background-color:  rgb(76, 136, 236);
    border: none;
    color: white;
    width: 6vw;
    border-radius: 4px;
}

.saveBtn:hover{
    background-color: #3178ee;
}

.container{
    margin-top: 8vh;
    width: 13vw;
    left: 7.5vw;
    position: relative;
}

/*editat de MESESAN*/
.invoiceTitle {
    text-align: center;
    }

